@media (max-width:759.98px){
    .partners {
        &__title{
            display: block;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 1.875rem;
            text-align: center;
            padding-bottom: 1.875rem;
        }  
        &__container {
            max-width: 100%;
            margin: 0 auto;
            padding: 0 0 5.3125rem 0;
         }
        &__list {
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: nowrap;
         }
        &__item {
            &:last-child{
                display: none;
            } 
            img{
                width: 8.125rem;
                height: 9rem;
            }
            &:hover{
                transition: all ease .2s;
            }
        }
     }
}