.book-your-next-trip { 
    width: 100%;
    &__container { 
        max-width: 90rem;
        margin: 0 auto;
        padding: 0 8.75rem 12.5rem 11.625rem;
        display: flex;
        gap: 7.375rem;
    }
}
.book-your-next-trip-content{
    display: flex;
    flex-direction: column;   
    &__subtitle {
        font-weight: 600;
        font-size: 1.125em;
        line-height: 1.6875rem;
        text-align: start;
        padding-bottom: 0.06rem;
        }
    &__title { 
        max-width: 31.9375rem;
        font-family: 'Volkhov';
        font-style: normal;
        font-weight: 700;
        font-size: 3.125em;
        line-height: 4rem;
        text-transform: capitalize;
        color: #14183E;
        padding-bottom: 1.875rem;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: 3rem;
     }  
}
.item-steps {
    display: flex;
    gap: 1.25rem;
    &__content-block { 
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        max-width: 24.6875rem;
    }
    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 124.5%;
     }
    &__text { 
        font-weight: 400;
        font-size: 1em;
        line-height: 124.5%;
    }
 }
.card-trip { 
    position: relative;
    padding-top: 3.125rem;
    &__card-block { 
        max-width: 23.125rem;
        max-height: 25rem;
        padding: 1.25rem 1.5rem 1.875rem 1.5625rem;
        background: #FFFFFF;
        box-shadow: 0px 6.25rem 5rem rgba(0, 0, 0, 0.02),
                    0px 4rem 2.9375rem rgba(0, 0, 0, 0.0151852),
                    0px 2.375rem 1.5625rem rgba(0, 0, 0, 0.0121481), 
                    0px 1.25rem 0.8125rem rgba(0, 0, 0, 0.01), 
                    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
                    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481), 
                    3.125rem -3.125rem 5rem #abdefd70;
        border-radius: 1.625rem;
    }
    &__img {
        max-width: 20rem;
        max-height: 10rem;
        border: 1px solid #000000;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 1.5rem;
     }
    &__title { 
        font-weight: 500;
        font-size: 1.125em;
        line-height: 124.5%;
        letter-spacing: 0.015em;
        color: #080809;
        padding-top: 1.325rem;
        padding-bottom: 0.8125rem;
    }
    &__description {
        font-weight: 500;
        font-size: 1em;
        line-height: 124.5%;
        letter-spacing: -0.005em;
        color: #84829A;
        padding-bottom: 1.25rem;
     }
    &__icons { 
        padding-bottom: 1.875rem;
        display: flex;
        gap: 1.125rem;
    }
    &__bottom-block {
        display: flex;
        justify-content: space-between;
     }
    &__text {
        font-weight: 500;
        font-size: 1em;
        line-height: 124.5%;
        letter-spacing: -0.02em;
        color: #84829A;
     }
}
.small-card-trip { 
    position: absolute;
    display: flex;
    gap: 0.6875rem;
    justify-content: space-between;
    top: 44%;
    right: -40%;
    background: #FFFFFF;
    box-shadow: 0px 3.125rem 3.125rem #00000608;
    border-radius: 1.125rem;
    padding: 1.125rem 1.5625rem 1.375rem 1.25rem;
    &__block-right {
        display: flex;
        flex-direction: column;
        align-content: space-between;
     }
    &__subtitle {
        font-weight: 500;
        font-size: 0.875em;
        line-height: 124.5%;
        letter-spacing: -0.035em;
        color: #84829A;
     }
    &__title { 
        font-style: normal;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 124.5%;
        letter-spacing: -0.015em;
        color: #080809;
        padding: 6px 0 0.875rem;
    }
    span{
        color: #8A79DF;
    }                                       
    label{
        font-weight: 500;
        font-size: 0.875em;
        line-height: 124.5%;
        letter-spacing: -0.055em;
        color: #080809;
    }
    &__progress{
        width: 9.75rem;
        margin-top: 10px;
        position: relative;
        display: inline-block;
        background: #F5F5F5;
        height: 5px;
        border-radius: 6px;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 40%;
            background: #8A79DF;
          }
    }
}
progress{
    opacity: 0;
}
#plus-bottom{
    display: none;
}